

body {
    background-color: #fc9c9c;
}

h1{
    color: red;
}
.one {
    width: 486px;
    height: 240px;
    background: green;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
}
.two {
    width: 486px;
    height: 240px;
    background: #2496A6;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
}
.three {
    width: 486px;
    height: 240px;
    background: #7818C4;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    
}
span {
    color: white;
}