div {
    position: absolute;
    width: 448px;
    height: 532px;
    left: 35%;
    top: 25%;
    background: #FFFFFF;
    border-radius: 20px;
    
}

body {
    background-color: #d3d2d2;
}

.button1 {
    background-color: #000000;
    color: #ffff;
    left: 30%;
    top: 30%;
    border-radius: 100px;
    border: 3px;
    border-color: #000000;
}
.button2 {
    background-color: #ffffff;
    color: #000000;
    left: 35%;
    top: 25%;
    border-radius: 100px;
    border: 3px solid;
    border-color: #000000;
   

}
img {
    width: 40px;
    height: 40px;
}
